<section class="contacts" id="contacts" data-section>
  <div class="container">
    <h2 class="contacts-title">Contact Us</h2>
    <div class="container-contact">
      <div class="container-question">
        <p>Have questions, suggestions, or feedback?</p>
        <div>
          <p>
            Email:
            <a
              class="contact-link"
              href="mailto:info@donutworld.online"
              target="_blank"
            >
              info@donutworld.online
            </a>
          </p>
          <p>
            Website:
            <a
              class="contact-link"
              href="https://donutworld.online"
              target="_blank"
              rel="noopener noreferrer"
            >
              donutworld.online
            </a>
          </p>
        </div>
      </div>
      <div class="container-follow">
        <p>Follow Us</p>
        <p>Stay in the loop with updates</p>

        <ul class="social-media">
          <li class="follow-link">
            <a
              class="follow-icon-media"
              href="https://www.facebook.com/"
              target="_blank"
            >
              <svg class="icon-networks" width="44" height="44">
                <use href="./img/svg/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="follow-link">
            <a
              class="follow-icon-media"
              href="https://www.twitter.com/"
              target="_blank"
            >
              <svg class="icon-networks" width="44" height="44">
                <use href="./img/svg/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="follow-link">
            <a
              class="follow-icon-media"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg class="icon-networks" width="44" height="44">
                <use href="./img/svg/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="follow-link">
            <a
              class="follow-icon-media"
              href="https://www.discord.com/"
              target="_blank"
            >
              <svg class="icon-networks" width="44" height="44">
                <use href="./img/svg/sprite.svg#icon-Group-1"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="contacts-text">
      <p>We’d love to hear from you and keep making Donut Boom even sweeter!</p>
    </div>
  </div>
</section>
