<!-- Cookies Popup Template -->
<div class="cookies-popup" id="cookiesPopup">
  <div class="cookies-popup__content">
    <h2 class="cookies-popup__title">Cookies Policy</h2>
    <p class="cookies-popup__text">
      We use cookies to improve your experience on our website.<br class="desktop-only">
      By browsing this website, you agree to our use of cookies.
    </p>
    <div class="cookies-popup__buttons">
      <button class="cookies-popup__button cookies-popup__button--accept" id="acceptCookies">
        Accept Cookies
      </button>
      <button class="cookies-popup__button cookies-popup__button--decline" id="declineCookies">
        Decline Cookies
      </button>
    </div>
  </div>
</div>