<!-- Cookies Popup Template -->
<div class="cookies-popup" id="cookiesPopup" data-cookies-popup>
  <div class="cookies-popup__content" data-cookies-content>
    <h2 class="cookies-popup__title">Cookies Policy</h2>
    <p class="cookies-popup__text">
      We use cookies to improve your experience on our website.<br class="desktop-only">
      By browsing this website, you agree to our use of cookies.
    </p>
    <div class="cookies-popup__buttons">
      <button class="cookies-popup__button cookies-popup__button--accept" id="acceptCookies" data-cookies-accept>
        Accept Cookies
      </button>
      <button class="cookies-popup__button cookies-popup__button--decline" id="declineCookies" data-cookies-decline>
        Decline Cookies
      </button>
    </div>
  </div>
</div>