<section class="download" id="download" data-section>
  <div class="container container-ready">
    <h2 class="ready-title">Ready to dive in?</h2>
    <a href="https://play.google.com/store/apps/details?id=com.beecreator.donutboom&hl=en&gl=us" class="btn-levels">
      <img src="./img/hero/google-play-icon-mobile.png" class="icon-btn-level" alt="Google Play logo" />
      <span class="level-span">Download on Google Play <br />(Android 6.0 and up)</span>
    </a>
    <p class="text-version">
      Version: 1.0 | Updated: Dec 30, 2024 | 500+ Downloads
    </p>
  </div>
</section>