<article class="features">
  <div class="container">
    <h2 class="features-title">Features</h2>
    <div class="icon-container">
      <div class="icon-item">
        <svg class="icon" width="40" height="40">
          <use href="./sprite.svg#icon-game"></use>
        </svg>
        <p class="icon-text">
          <span class="accent">Easy to Learn, Hard to Master:</span> Accessible
          for everyone, addictive for puzzle pros.
        </p>
      </div>
      <div class="icon-item">
        <svg class="icon" width="40" height="40">
          <use href="./sprite.svg#icon-paint"></use>
        </svg>
        <p class="icon-text">
          <span class="accent"> Colorful Graphics:</span> Bright, cute visuals
          with playful animations.
        </p>
      </div>
      <div class="icon-item">
        <svg class="icon" width="40" height="40">
          <use href="./sprite.svg#icon-lamp"></use>
        </svg>
        <p class="icon-text">
          <span class="accent"> Challenging Levels:</span> Increasingly complex
          puzzles to keep you thinking.
        </p>
      </div>
      <div class="icon-item">
        <svg class="icon" width="40" height="40">
          <use href="./sprite.svg#icon-vector-3"></use>
        </svg>
        <p class="icon-text">
          <span class="accent">Smooth Controls:</span> Drag and drop with
          precision and ease.
        </p>
      </div>
      <div class="icon-item">
        <svg class="icon" width="40" height="40">
          <use href="./sprite.svg#icon-clock"></use>
        </svg>
        <p class="icon-text">
          <span class="accent"> Perfect for Short or Long Sessions:</span> Play
          during a break or binge your way through 50+ levels.
        </p>
      </div>
      <div class="icon-item">
        <svg class="icon" width="40" height="40">
          <use href="./sprite.svg#icon-rainbow"></use>
        </svg>
        <p class="icon-text">
          <span class="accent">No Time Limits:</span> Think at your own pace—no
          pressure!
        </p>
      </div>
      <div class="icon-item">
        <svg class="icon stroke" width="40" height="40">
          <use href="./sprite.svg#icon-vector"></use>
        </svg>
        <p class="icon-text">
          <span class="accent"> Regular Updates:</span> New levels and themes
          coming soon!
        </p>
      </div>
    </div>
  </div>
</article>