<footer class="footer">
  <div class="container">
    <p class="footer-desc">
      Made with ✨ by
      <a class="footer-link" href="https://goit.global/ua/" target="_blank" rel="noopener noreferrer">
        GoIT team
      </a>
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link {=$highlight-privacy}" href="./privacy.html">Privacy Policy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {=$highlight-terms}" href="./terms.html">Terms of Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {=$highlight-cookies}" href="./cookies.html">Cookies Policy</a>
      </li>
    </ul>
    </p>
  </div>
</footer>