<article class="gallery">
  <div class="container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="container-gallery swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/gallery/Gallery1dekstop1x.png 1x,
                ./img/gallery/Gallery1dekstop2x.png 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/gallery/Gallery1-mobile1x.png 1x,
                ./img/gallery/Gallery1-mobile2x.png 2x
              "
            />
            <img
              class="img"
              src="./img/gallery/Gallery1dekstop2x.png"
              alt="Gallery-1"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/gallery/Gallery2dekstop1x.png 1x,
                ./img/gallery/Gallery2dekstop2x.png 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/gallery/Gallery2-mobile1x.png 1x,
                ./img/gallery/Gallery2-mobile2x.png 2x
              "
            />
            <img
              class="img"
              src="./img/gallery/Gallery2dekstop2x.png"
              alt="Gallery-2"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/gallery/Gallery3dekstop1x.png 1x,
                ./img/gallery/Gallery3dekstop2x.png 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/gallery/Gallery3-mobile1x.png 1x,
                ./img/gallery/Gallery3-mobile2x.png 2x
              "
            />
            <img
              class="img"
              src="./img/gallery/Gallery3dekstop2x.png"
              alt="Gallery-3"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/gallery/Gallery4dekstop1x.png 1x,
                ./img/gallery/Gallery4dekstop2x.png 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/gallery/Gallery4-mobile1x.png 1x,
                ./img/gallery/Gallery4-mobile2x.png 2x
              "
            />
            <img
              class="img"
              src="./img/gallery/Gallery4dekstop2x.png"
              alt="Gallery-4"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/gallery/Gallery5dekstop1x.png 1x,
                ./img/gallery/Gallery5dekstop2x.png 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/gallery/Gallery5-mobile1x.png 1x,
                ./img/gallery/Gallery5-mobile2x.png 2x
              "
            />
            <img
              class="img"
              src="./img/gallery/Gallery5dekstop2x.png"
              alt="Gallery-5"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/gallery/Gallery6dekstop1x.png 1x,
                ./img/gallery/Gallery6dekstop2x.png 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/gallery/Gallery6-mobile1x.png 1x,
                ./img/gallery/Gallery6-mobile2x.png 2x
              "
            />
            <img
              class="img"
              src="./img/gallery/Gallery6dekstop2x.png"
              alt="Gallery-6"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/gallery/Gallery7dekstop1x.png 1x,
                ./img/gallery/Gallery7dekstop2x.png 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/gallery/Gallery7-mobile1x.png 1x,
                ./img/gallery/Gallery7-mobile2x.png 2x
              "
            />
            <img
              class="img"
              src="./img/gallery/Gallery7dekstop2x.png"
              alt="Gallery-7"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/gallery/Gallery8dekstop1x.png 1x,
                ./img/gallery/Gallery8dekstop2x.png 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/gallery/Gallery8-mobile1x.png 1x,
                ./img/gallery/Gallery8-mobile2x.png 2x
              "
            />
            <img
              class="img"
              src="./img/gallery/Gallery8dekstop2x.png"
              alt="Gallery-8"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-buttons">
        <button class="gallery-button-prev">
          <svg viewBox="0 0 18 32" width="15" height="26" class="gallery-icon">
            <use href="./img/svg/sprite.svg#icon-Vector-left"></use>
          </svg>
        </button>
        <div class="swiper-pagination"></div>
        <button class="gallery-button-next">
          <svg width="15" height="26" class="gallery-icon">
            <use href="./img/svg/sprite.svg#icon-Vector-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</article>
