<article class="how-to-play">
  <div class="container">
    <h2 class="how-to-play-title">How to Play</h2>
    <div class="container-play">
      <ol class="item-list">
        <li class="item-play">Tap a box to select the top donut.</li>
        <li class="item-play">
          Tap another box to place it—only if the donut color matches or the box
          is empty.
        </li>
        <li class="item-play">
          Match all donuts in one box by color to complete the level.
        </li>
        <li class="item-play">
          Earn stars based on your moves—fewer moves, more stars!
        </li>
        <li class="item-play">
          Advance to tougher puzzles with limited box space and more colors.
        </li>
      </ol>
    </div>
  </div>
</article>
