:root {
  font-family: var(--font-family-primary);
  font-size: 16px;
  line-height: 1.5;
  font-weight: var(--font-weight-regular);
  color: var(--color-text-dark);
  background-color: var(--color-background-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 60px;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-background-main); /* Загальний фон сторінки */
}

main {
  flex-grow: 1;
  background: var(--gradient-main);
  min-height: 100vh; /* Щоб градієнт покривав всю висоту */
}
main:has(.back-link) {
  text-align: center;
}

/* Підтримка дуже широких екранів (1440px+) */
@media (min-width: 1440px) {
  body {
    background-color: var(--color-background-main);
  }

  main {
    max-width: 1440px;
    margin: 0 auto;
    background: var(--gradient-main);
  }
}
