.features-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: var(--container-mobile);
  margin: 0 auto;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  background-color: var(--color-background-secondary);
  border-radius: var(--border-radius);
  padding: 16px 12px;
  width: 100%;
  min-height: 140px;
  box-sizing: border-box;
}

.icon-text {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-h4-mobile);
  max-width: 232px;
  text-align: left;
  color: var(--color-text-dark);
}

.icon {
  display: block;
  stroke: none;
}
.stroke {
  stroke: currentColor;
  color: var(--color-text-light);
}
@media (min-width: 1200px) {
  .features-title {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-h2-desktop);
    text-align: center;
    color: var(--color-text-light);
    margin-bottom: 10px;
  }

  .icon-text {
    font-size: var(--font-size-h5-desktop);
  }
  .accent {
    font-weight: bold;
  }
  .icon-container {
    max-width: var(--container-desktop);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    flex-direction: row;
  }
  .icon-item {
    flex: 1 1 calc((100% - 72px) / 4); /* может сжиматься и расти, базовая ширина 250px */
    max-width: calc((100% - 72px) / 4);
    height: auto; /* высота под содержимое */
    aspect-ratio: 1 / 1; /* квадратный элемент */
    box-sizing: border-box;
    padding: 20px 10px 0 10px;
  }
}
